Parctical_17_Produce_Consume_WCF_Service/display_Student_Details/Connected Services/ServiceReference3/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getStudentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStudentIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStudentNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>