Parctical_17_Produce_Consume_WCF_Service/display_Student_Details/Connected Services/ServiceReference2/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54901/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54901/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_getStudentId_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentId" />
  </wsdl:message>
  <wsdl:message name="IStudentService_getStudentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_getStudentName_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentName" />
  </wsdl:message>
  <wsdl:message name="IStudentService_getStudentName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="getStudentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/getStudentId" message="tns:IStudentService_getStudentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/getStudentIdResponse" message="tns:IStudentService_getStudentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudentName">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/getStudentName" message="tns:IStudentService_getStudentName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/getStudentNameResponse" message="tns:IStudentService_getStudentName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentId">
      <soap:operation soapAction="http://tempuri.org/IStudentService/getStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentName">
      <soap:operation soapAction="http://tempuri.org/IStudentService/getStudentName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost:54901/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>