DoctorService/DoctorWebClient/Connected Services/ServiceReference1/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DoctorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DoctorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
</xs:schema>